In [1]:
import pandas as pd

In [28]:
def readdfs():
    dfs = pd.read_excel("no2.xlsx", index_col=0, sheet_name=None)
    return dfs



dfs = readdfs()
sheets = dfs.keys()

In [29]:
sheets

dict_keys(['2018', '2019', '2020'])

In [46]:
 df = dfs.get("2020")

In [52]:
df["二氧化氮"]= df["二氧化氮"].astype(str) 

df["二氧化氮"].str.isdigit()

0         True
1         True
2         True
3         True
4         True
          ...
133951    True
133952    True
133953    True
133954    True
133955    True
Name: 二氧化氮, Length: 133956, dtype: bool

In [56]:
df = df[df["二氧化氮"].str.isdigit()]

In [57]:
df["二氧化氮"]= df["二氧化氮"].astype(float)

c:\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
df["二氧化氮"].dtype == float

True

In [ ]:
df

In [64]:
df["二氧化氮"]

0         17.0
1         18.0
2         14.0
3         18.0
4         16.0
          ...
133951    31.0
133952    21.0
133953    28.0
133954    22.0
133955    25.0
Name: 二氧化氮, Length: 133130, dtype: float64

In [42]:
df.head()

         监测时间 行政区名称 二氧化氮
0  2020-12-31   阿坝州   17
1  2020-12-30   阿坝州   18
2  2020-12-29   阿坝州   14
3  2020-12-28   阿坝州   18
4  2020-12-27   阿坝州   16

In [39]:
df.reset_index(inplace=True)

In [66]:
df["监测时间"] = df["监测时间"].apply(lambda x:x[:-3])

c:\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
df.head()

      监测时间 行政区名称  二氧化氮
0  2020-12   阿坝州  17.0
1  2020-12   阿坝州  18.0
2  2020-12   阿坝州  14.0
3  2020-12   阿坝州  18.0
4  2020-12   阿坝州  16.0

In [69]:
result = df.groupby(by=["行政区名称","监测时间"])["二氧化氮"].mean()

In [70]:
result.to_csv("rrrrrr.csv",encoding="utf_8_sig")

In [33]:
def process(df1):
#     df1["监测时间"] = df1["监测时间"].apply(lambda x:x[:-6])
    no2_per_y = df1.groupby(by=["行政区名称"])["二氧化氮"].mean()
#     no2_per_y.to_csv("no2_per_y.csv",encoding="utf_8_sig")
    return no2_per_y

In [36]:
with pd.ExcelWriter("no2_per_y.xlsx") as writer:
    for s in sheets:
        df = dfs.get(s)
        result = process(df)
        result.to_excel(writer,sheet_name=s)

DataError: No numeric types to aggregate

In [35]:
!pip install openpyxl

Looking in indexes: https://pypi.douban.com/simple
Collecting openpyxl
  Downloading https://pypi.doubanio.com/packages/1c/a6/8ce4d2ef2c29be3235c08bb00e0b81e29d38ebc47d82b17af681bf662b74/openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading https://pypi.doubanio.com/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

WARNING: You are using pip version 20.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\python36\python.exe -m pip install --upgrade pip' command.

In [22]:
df1 = data.copy(deep=True)

In [23]:
df1["监测时间"] = df1["监测时间"].apply(lambda x:x[:-6])

In [24]:
df1.head()

   监测时间 行政区名称  二氧化氮
0  2018   阿坝州  17.0
1  2018   阿坝州  15.0
2  2018   阿坝州  18.0
3  2018   阿坝州  16.0
4  2018   阿坝州  16.0

In [25]:
no2_per_y = df1.groupby(by=["行政区名称","监测时间"])["二氧化氮"].mean()

In [27]:
no2_per_y.to_csv("no2_per_y.csv",encoding="utf_8_sig")

In [13]:
data["监测时间"] = data["监测时间"].apply(lambda x:x[:-3])

In [14]:
data.head()

      监测时间 行政区名称  二氧化氮
0  2018.12   阿坝州  17.0
1  2018.12   阿坝州  15.0
2  2018.12   阿坝州  18.0
3  2018.12   阿坝州  16.0
4  2018.12   阿坝州  16.0