In [11]:
import pandas as pd



def readdfs():
    dfs = pd.read_excel("energy2.xlsx", index_col=0, sheet_name=None)
    return dfs



dfs = readdfs()
sheets = dfs.keys()

In [12]:
sheets

dict_keys(['Shanghai2012', 'Yunnan2012', 'InnerMongolia2012', 'Beijing2012', 'Jilin2012', 'Sichuan2012', 'Tianjin2012', 'Ningxia2012', 'Anhui2012', 'Shandong2012', 'Shanxi2012', 'Guangdong2012', 'Guangxi2012', 'Xinjiang2012', 'Jiangsu2012', 'Jiangxi2012', 'Hebei2012', 'Henan2012', 'Zhejiang2012', 'Hainan2012', 'Hubei2012', 'Hunan2012', 'Gansu2012', 'Fujian2012', 'Guizhou2012', 'Liaoning2012', 'Chongqing2012', 'Shaanxi2012', 'Qinghai2012', 'Heilongjiang2012'])

In [3]:
def getfactor():
    factor = pd.read_excel("factor.xlsx")
    factor = factor.T
    factor.columns= factor.iloc[0]

    return factor

factor = getfactor()

In [4]:
factor

燃料类型,原煤,洗精煤,其他洗煤,型煤,焦炭,焦炉煤气,其他煤气,其他焦化产品,原油,汽油,煤油,柴油,燃料油,天然气,其他石油产品
燃料类型,原煤,洗精煤,其他洗煤,型煤,焦炭,焦炉煤气,其他煤气,其他焦化产品,原油,汽油,煤油,柴油,燃料油,天然气,其他石油产品
排放因子,10,1.65,1.65,0.625,0.14,0.14,0.14,0.14,0.27,0.27,0.9,0.94,1.34,0.17,1.34
单位,(g/ kg),(g/ kg),(g/ kg),(g/ kg),(g/ kg),(g /m3),(g /m3),(g /kg),(g /kg),(g /kg),(g /kg),(g /kg),(g /kg),(g /m3),(g /kg)
transfactor,10,10,10,10,10,100,100,10,10,10,10,10,10,100,10

In [5]:

def process(df):
    df.fillna(0,inplace=True)
    cols = df.iloc[0]
    cols[1] = "groupid"
    df.columns = cols
    df = df.groupby(by="groupid").sum()
    # df = df.reset_index()
    df = df.reset_index(drop=True)

    df.drop(columns=[0],inplace=True)
    df.drop(index=[0],inplace=True)
    f1 = factor[df.columns].loc["排放因子", :]
    f2 = factor[df.columns].loc["transfactor", :]
    return df*f1*f2

In [ ]:

with pd.ExcelWriter("pm_by_industry.xlsx") as writer:
    for s in sheets:
        df = dfs.get(s)
        result = process(df)
        result.to_excel(writer,sheet_name=s)

In [ ]:
Shanghai2012

In [15]:
df = dfs.get("Shanghai2012")

In [16]:
df.head()

,groupid,Raw Coal,Cleaned Coal,Other Washed Coal,Briquettes,Coke,Coke Oven Gas,Other Gas,Other Coking Products,Crude Oil,Gasoline,Kerosene,Diesel Oil,Fuel Oil,Other Petroleum Products,Natural Gas
NaN,NaN,原煤,洗精煤,其他洗煤,型煤,焦炭,焦炉煤气,其他煤气,其他焦化产品,原油,汽油,煤油,柴油,燃料油,其他石油产品,天然气
NaN,NaN,104 tn,104 tn,104 tn,104 tn,104 tn,108 cu.m,108 cu.m,104 tn,104 tn,104 tn,104 tn,104 tn,104 tn,104 tn,108 cu.m
Total Final Consumption,NaN,870.13,79.75,6.46,18.92,673.17,24.4587,8.57,110.54,2.86,517.35,402.74,568.19,631.3,881.91,41.86
"Farming, Forestry, Animal Husbandry, Fishery & Water Conservancy",1.0,2.67,0,0,0,0,0,0,0,0,17.8,0,13.79,0,0,0.01
Coal Mining and Dressing,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
result = process(df)

d:\envs\crypt\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
result

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]