In [1]:
import pandas as pd
import numpy as np

In [21]:
a = pd.DataFrame({"a":[1,2,3,4],"b":[4,5,6,np.nan],'c':[6,7,8,np.nan]})
col = a["c"]

In [29]:
a.sum()

a    10.0
b    15.0
c    21.0
dtype: float64

In [22]:
result = a.values * col.values.reshape([-1,1])
result

array([[ 6., 24., 36.],
       [14., 35., 49.],
       [24., 48., 64.],
       [nan, nan, nan]])

In [23]:
np.sum(result,axis=0)

array([nan, nan, nan])

In [24]:
col

0    6.0
1    7.0
2    8.0
3    NaN
Name: c, dtype: float64

In [28]:
col.fillna(method="ffill")

0    6.0
1    7.0
2    8.0
3    8.0
Name: c, dtype: float64

In [37]:
tt = pd.np.round(a.fillna(method="ffill").sum() / 4)

d:\envs\crypt\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [39]:
type(tt)

pandas.core.series.Series

In [40]:
data

NameError: name 'data' is not defined